node_modules
dist
bundle.*.js
*.egg-info
.ipynb_checkpoints
__pycache__
aws_cred.json
neo4j_cred.json
**/.DS_Stroe

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*